%h1 Your E-mail is now being backed up.

%p 
  So now all you do is wait. We have currently backup up 
  %strong= @backup_size
  %strong Mb 
  of your e-mails, but we are not done yet. We will send you an e-mail as soon as the initial backup is complete.

%p
  Everything is encrypted so nobody (not even us) can access you data. If you ahve any questions please e-mail bottiger@gmail.com og zerrez@gmail.com

.user-data
  %p
    %strong E-mail:
    = @email || ":("
  %p 
    %strong Token: 
    = @access_token.token
  %p 
    %strong Secret: 
    = @access_token.secret

